/* ------------------------$COLORS------------------------ */
/* ------------------------$/COLORS----------------------- */
/* ------------------------$FONTS------------------------- */
/* ------------------------$/FONTS------------------------ */
/* ----place holders --- */
.infoContainer__contact__form-errorIcon i, .infoContainer__contact__form-button i:nth-child(1) {
  width: 12px;
  height: 20px;
  display: inline-flex;
  background-position: center;
  background-repeat: no-repeat;
}

.infoContainer__contact__form-button i:nth-child(1) {
  background-image: url(../../images/icon-arrow.svg);
}

.infoContainer__contact__form-errorIcon i {
  background-image: url(../../images/icon-error.svg);
}

/* ----place holders --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #fff5f5;
}

html {
  font-size: 62.5%;
}

main {
  width: 100%;
}

.logoContainer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}
.logoContainer img {
  max-width: 25%;
  margin-left: 35px;
}

.heroContainer {
  width: 100%;
  height: auto;
}
.heroContainer img {
  width: 100%;
  height: auto;
}

.infoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff5f5;
  padding-bottom: 5px;
}
.infoContainer__title {
  width: 80%;
  margin: 40px auto 30px auto;
  text-align: center;
}
.infoContainer__title h1 {
  display: flex;
  flex-direction: column;
  font-size: 3.5rem;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.infoContainer__title h1 span:nth-child(1) {
  font-weight: 300;
  color: #ce9797;
}
.infoContainer__description {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.infoContainer__description p {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  color: #ce9797;
  font-weight: 400;
  line-height: 1.5;
}
.infoContainer__contact {
  width: 80%;
  display: inline-flex;
  margin: 0 auto;
}
.infoContainer__contact__form {
  width: 100%;
  height: 45px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ce9797;
  border-radius: 30px;
}
.infoContainer__contact__form input:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/2;
  height: 20px;
  margin-left: 20px;
  font-family: "Josefin Sans", sans-serif;
  color: #ce9797;
  background-color: transparent;
  border: transparent;
}
.infoContainer__contact__form input:focus {
  outline: none;
}
.infoContainer__contact__form-button {
  grid-column: 3/4;
  grid-row: 1/2;
  width: 100%;
  max-width: 100px;
  height: 44px;
  position: relative;
  right: -1px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  background: linear-gradient(to right, #f8bfbf, #ee8c8c);
  border-radius: 30px;
}
.infoContainer__contact__form-errorIcon {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 24px;
  height: 24px;
  justify-self: flex-end;
  margin-right: 10px;
}
.infoContainer__contact__form-errorIcon i {
  display: none;
  width: 24px;
  height: 24px;
}

.printContainer {
  width: 70%;
  height: 20px;
  margin: 5px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.printContainer__span {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  color: #f96262;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #fff5f5;
}
footer p {
  font-family: "Josefin Sans", sans-serif;
  color: #ce9797;
  margin-right: 10px;
}
footer p a {
  text-decoration: none;
  color: #413a3a;
}

/*# sourceMappingURL=styles.css.map */
