/* ----place holders --- */
%icon{
    width: 12px;
    height: 20px;
    display: inline-flex;
    background-position: center;
    background-repeat: no-repeat;
}
%arrow-icon{
    @extend %icon;
    background-image: url(../images/icon-arrow.svg);
    
}
%error-icon {
    @extend %icon;
    background-image: url(../images/icon-error.svg);
}
/* ----place holders --- */