/* ----place holders --- */
%arrow-icon{
    width: 12px;
    height: 20px;
    display: inline-flex;
    background-image: url(../../images/icon-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 20px;
    
}
/* ----place holders --- */