* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100vh;
    background-color: $color-lgrad-to;
}

html {
    font-size: 62.5%;
}
main{
    width: 100%;
   
}
.background{ 
    display: none;
}

.logoContainer{ 
    width: 100%;
    height: 70px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color: white;
    img {
        max-width:25%;
        margin-left: 35px;
    }
}
.heroContainer {
    width: 100%;
    height: auto;
    img {
        width:100%;
        height:auto;
    }
}

.infoContainer {
    width: 100%;
    display: flex;
    flex-direction:column;
    background-color: $color-lgrad-to;
    padding-bottom: 5px;
    &__title {
        width:80%;
        margin: 40px auto 30px auto;
        text-align: center;
        h1 {
            display: flex;
            flex-direction:column;
            font-size: $fs-huge;
            font-weight: 700;
            font-family: $ff-primary;
            text-transform:uppercase;
            letter-spacing:10px;
            span:nth-child(1) {
                font-weight:300;
                color: $color-primary;
            }
        }
    }
    &__description {
        width:80%;
        margin: 0 auto;
        margin-bottom: 30px;
        p {
            text-align: center;
            font-family: $ff-primary;
            font-size: $fs-small;
            color: $color-primary;
            font-weight:400;
            line-height:  1.5;
           
        }
    }
    &__contact {
        width:80%; 
        display: inline-flex;
        margin: 0 auto;
        &__form {
            width:100%;
            height: 45px;
            display: grid;
            grid-template-columns:3fr 1fr 1fr;
            grid-template-rows: 1fr;
            align-items: center;
            justify-content:space-around;
            //position: relative;
            //position:relative;
            border: 1px solid $color-primary;
            border-radius:  30px;
            input:nth-child(1){
                grid-column: 1 / 3;
                grid-row: 1 / 2;
                //width:100%;
                height: 20px;
                margin-left: 20px;
                font-family: $ff-primary;
                color: $color-primary;
                background-color: transparent;
                //border-radius: 30px;
                border: transparent;
            }
            input:focus{
                outline:none;
               
            }
                
            &-button {
                grid-column:  3 / 4;
                grid-row: 1 / 2;
                width:100%;
                max-width: 100px;
                height:44px; 
                position:relative;
                right: -1px;
                //right: -1px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                justify-self: flex-end;
                background: linear-gradient(to right,$color-dgrad-From,$color-dgrad-to);
                border-radius:30px;
                i:nth-child(1) {
                    @extend %arrow-icon;
                }

            }
            &-errorIcon{
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                width: 24px;
                height: 24px;
                justify-self: flex-end;
                margin-right: 25px;
                //position:absolute;
                //right: 70px;
                i {
                    
                    display: none;
                    @extend %error-icon;
                    width: 24px;
                    height: 24px;
                }
            } 
           
        }
       
    }
}
.printContainer {
    width: 70%;
    height: 20px;
    margin: 5px auto;
    //margin-top:10px;
    display: flex;
    justify-content: flex-start;
    
    align-items: center;
    &__span {
        font-family: $ff-primary;
        font-size: $fs-small;
        color: $color-primary-active;
    }
}
footer {
    display:flex;
    justify-content:flex-end;
    align-items: center;
    width: 100%;
    height:70px;
    background-color: $color-lgrad-to;
    p{
        font-family: $ff-primary;
        color: $color-primary;
        margin-right: 10px;
        a{ 
            text-decoration:none;
            color: $color-neutral;
        }
    }

}