/* ------------------------$COLORS------------------------ */

$color-primary: hsl(0, 36%, 70%);
$color-primary-active: hsl(0, 93%, 68%);
$color-neutral: hsl(0, 6%, 24%); 

//COLOR GRADIENTS 
$color-lgrad-From: hsl(0, 0%, 100%);
$color-lgrad-to: hsl(0, 100%, 98%);

$color-dgrad-From: hsl(0, 80%, 86%);
$color-dgrad-to: hsl(0, 74%, 74%);


/* ------------------------$/COLORS----------------------- */
//----------------------------------------------------------------------------//
/* ------------------------$FONTS------------------------- */
$ff-primary: 'Josefin Sans', sans-serif;

$fs-normal: 1.6rem;


/* ------------------------$/FONTS------------------------ */